scale.brightness trough,
scale.temperature trough {
  min-width: 150px;
  min-height: 12px;
}

scale.temperature trough {
  background: linear-gradient(to right, @blue_1, @yellow_3);
}

scale.brightness trough {
  background: linear-gradient(to right, @dark_4, @light_2);
}
